<mat-sidenav-container class="side-nav-container">
  <mat-sidenav mode="side"
               opened='{{ sideBar }}'
               class="relative">
    <mp-vertical-navigation></mp-vertical-navigation>
    <div class="absolute bottom-0 w-100 bg-white shadow p-2">
      <button class="bg-emerald-400 text-white active:bg-secondary text-sm font-bold uppercase px-6 py-2 rounded shadow hover:bg-emerald-400 outline-none focus:outline-none mr-1 mb-1 w-full ease-linear transition-all duration-150"
              type="button"
              (click)="logOut()">
        <i class="fa-duotone fa-arrow-right-from-bracket"></i> Log Out
      </button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content class="bg-gray-100">
    <mp-header (toggleSideBar)="toggleSideBar()"
               (logOut)="logOut()"></mp-header>
    <div class="p-4">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
