<div class="w-full table">
  <table mat-table
         [dataSource]="(!!data && data) || []"
         matSort
         matSortDisableClear
         [matSortActive]="!!sort && sort.sortBy"
         [matSortDirection]="(!!sort && sort.sortType) || 'asc'"
         class="table-auto w-full"
         (matSortChange)="sortData($event)">
    <ng-container *ngFor="
        let column of columnsConfig;
        let last = last;
        let first = first;
        trackBy: trackByIndex
      ">
      <ng-container matColumnDef="select"
                    *ngIf="isSelection && column.field === 'select'; else tableContent">
        <th mat-header-cell
            *matHeaderCellDef
            [ngStyle]="{ width: column.width }">
          <mat-checkbox color="primary"
                        (change)="$event ? toggleAllRows() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                        [disabled]="data.length === 0"
                        class="ml-1">
          </mat-checkbox>
        </th>
        <td mat-cell
            *matCellDef="let row">
          <mat-checkbox color="primary"
                        (click)="$event.stopPropagation()"
                        (change)="$event ? toggleRow(row) : null"
                        [checked]="selection.isSelected(row)"
                        class="ml-1">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-template #tableContent>
        <ng-container matColumnDef="{{ column.field }}">
          <th mat-header-cell
              *matHeaderCellDef
              mat-sort-header
              [ngStyle]="{ width: column.width }">
            {{ column.label }}
          </th>
          <td mat-cell
              *matCellDef="let row"
              [ngClass]="{ capitalize: !column.uncapitalized}">
            <ng-container *ngIf="column.field === 'rating'; else contentField">
              <div class="flex items
                -center justify-start">
                <div class="flex items-start">
                  <mat-icon class="text-[#FFC107]">star</mat-icon>
                  <span class="ml-1">{{ row[column.field] ? row[column.field]/2 : 0 }}</span>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="column.field === 'isVerified'">
              <div *ngIf="row[column.field]; else notVerified"
                   class="flex items
                -center justify-start">
                <img src="https://img.icons8.com/fluency/20/null/checked.png"
                     class="pb-3" />
              </div>
              <ng-template #notVerified
                           class="flex items
                -center justify-center">
                <img src="https://img.icons8.com/fluency/20/null/cancel.png"
                     class="pb-3" />
              </ng-template>
            </ng-container>
            <ng-template #contentField>
              <div class="flex items-center justify-between"
                   [ngClass]="{'p-2': !first, 'pt-2 pb-2' : first, 'justify-between': !column.alignCenter, 'justify-center': column.alignCenter}"
                   *ngIf="column.label !== 'isVerified'">
                <span *ngIf="column.render; else noRender"
                      [innerHTML]="column.render(row)">
                </span>
                <ng-template #noRender>
                  {{ row[column.field] }}
                </ng-template>
                <div *ngIf="editMode && last">
                  <mat-icon class="ml-2 w-max h-max text-sm cursor-pointer"
                            (click)="onClickedRow(row)">
                    edit
                  </mat-icon>
                  <mat-icon class="ml-2 w-max h-max text-sm cursor-pointer"
                            (click)="onRemoved(row)">
                    close
                  </mat-icon>
                </div>
              </div>
            </ng-template>
          </td>
        </ng-container>
      </ng-template>
    </ng-container>

    <tr mat-header-row
        *matHeaderRowDef="displayedColumns"
        class="bg-gray"></tr>
    <tr mat-row
        *matRowDef="let row; columns: displayedColumns"
        [ngClass]="{ 'bg-[#E8F4FF]': isSelected(row?.id) }"></tr>

    <tr class="mat-row"
        *matNoDataRow>
      <td class="mat-cell"
          [colSpan]="displayedColumns.length">
        <div class="w-100 flex justify-center items-center p-32">
          <div>
            <i class="fa-solid fa-triangle-exclamation text-emerald-600 hover:text-emerald-700 text-[200px]"></i>
            <h6 class="text-center mt-8 text-muted">No Data Available</h6>
          </div>
        </div>
      </td>
    </tr>
  </table>
</div>
