<mp-model-layout>
  <mp-loading *ngIf="$isLoading; else loaded"
              height="600px"></mp-loading>
  <ng-template #loaded>
    <form class="space-y-8 divide-y divide-gray-200"
          [formGroup]="userForm">
      <div class="space-y-8 divide-y divide-gray-200 sm:space-y-5">
        <div class="ml-6">
          <div>
            <div>
              <h3 class="text-lg font-medium leading-6 text-gray-900">Profile</h3>
            </div>
            <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
              <div class="sm:col-span-4">
                <label for="username"
                       class="block text-sm font-medium text-gray-700">Username</label>
                <div class="mt-1">
                  <input type="text"
                         name="username"
                         id="username"
                         formControlName="name"
                         class="mt-1 block p-2 border w-full rounded-md shadow-sm focus:border-emerald-500 focus:ring-emerald-500 sm:text-sm mb-1">
                </div>
              </div>
              <div class="sm:col-span-6">
                <label for="photo"
                       class="block text-sm font-medium text-gray-700">Photo</label>
                <div class="mt-1 flex items-center">
                  <span class="h-12 w-12 overflow-hidden rounded-full bg-gray-100">
                    <svg class="h-full w-full text-gray-300"
                         fill="currentColor"
                         viewBox="0 0 24 24">
                      <path d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z" />
                    </svg>
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="pt-8">
            <div>
              <h3 class="text-lg font-medium leading-6 text-gray-900">Personal Information</h3>
            </div>
            <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
              <div class="sm:col-span-4">
                <label for="email"
                       class="block text-sm font-medium text-gray-700">Email address</label>
                <div class="mt-1">
                  <input id="email"
                         name="email"
                         type="email"
                         formControlName="email"
                         [attr.disabled]="true"
                         class="mt-1 block p-2 border w-full rounded-md shadow-sm focus:border-emerald-500 focus:ring-emerald-500 sm:text-sm mb-1">
                </div>
              </div>
              <div class="sm:col-span-4">
                <label for="email"
                       class="block text-sm font-medium text-gray-700">Phone Number</label>
                <div class="mt-1">
                  <input id="phone"
                         name="phone"
                         type="phone"
                         formControlName="phone"
                         class="mt-1 block p-2 border w-full rounded-md shadow-sm focus:border-emerald-500 focus:ring-emerald-500 sm:text-sm mb-1">
                </div>
                <!-- <div class="sm:col-span-4">
                    <label for="role"
                           class="block text-sm font-medium text-gray-700">Role</label>
                    <div class="relative mt-1 grid">
                      <mat-form-field appearance="outline">
                        <mat-select disableOptionCentering
                                    [(value)]="selectedRole"
                                    panelClass="dropDown-seasons-panel">
                          <mat-option *ngFor="let role of roles"
                                      [value]="role.value">
                            {{role.viewValue}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>

                  </div> -->
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="pt-5">
        <div class="flex justify-end">

          <div class="flex ">
            <button type="button"
                    mat-dialog-close="false"
                    class="bg-white-500 border text-black active:bg-secondary text-sm font-bold px-6 py-2 rounded hover:bg-slate-50 outline-none focus:outline-none mr-2 mb-1 ease-linear transition-all duration-150">Cancel</button>
            <button type="submit"
                    (click)="saveUser()"
                    class="bg-emerald-600 text-white active:bg-secondary text-sm font-bold px-6 py-2 rounded hover:bg-emerald-700 outline-none focus:outline-none mb-1 ease-linear transition-all duration-150">Save</button>
          </div>
        </div>

      </div>

    </form>

  </ng-template>

</mp-model-layout>
