<mp-model-layout>
  <mp-loading *ngIf="$isLoading; else loaded"
              height="600px"></mp-loading>
  <ng-template #loaded>
    <main class="bg-white px-4 sm:px-6 lg:px-8">
      <div class="mx-auto max-w-3xl">
        <section aria-labelledby="order-heading"
                 class="mt-10">
          <h2 id="order-heading"
              class="">{{propertyData.name}}</h2>

          <label class="mt-2 block text-base font-bold text-gray-700">
            {{propertyData.categoryId}}
          </label>
          <mp-property-image-swiper [images]="propertyData.photos"></mp-property-image-swiper>

          <div class="flex space-x-6">

            <div class="flex flex-auto flex-col">
              <div>
                <h4 class="font-medium text-gray-900">
                  <a href="#">{{propertyData.streetAddress + ', ' + propertyData.ward.fullName +', ' + propertyData.ward.district.fullName +', ' + propertyData.ward.district.province.name}}</a>
                </h4>
                <p class="mt-2 text-sm text-gray-600">
                  {{propertyData.description}}
                </p>
              </div>
              <div class="mt-6 flex flex-1 items-end">
                <dl class="flex space-x-4 text-sm sm:space-x-6">
                  <div class="flex">
                    <dt class="font-medium text-gray-900">Rating</dt>
                    <dd class="ml-2 text-gray-700 align-center">
                      <p class="text-sm text-gray-700 align-center">
                        {{propertyData.avgRating !== null ? propertyData.avgRating / 2 : 0}}
                        <span class="sr-only"> out of 5 stars</span>
                      </p>

                    </dd>
                    <div *ngIf="propertyData.avgRating === null;else hasRating">
                      <div class="rating ml-1 flex">
                        <!--
                    </div>
                                    Heroicon name: mini/star

                                    Active: ", Inactive: "text-gray-200"
                                  -->
                        <svg class="text-gray-200 h-5 w-5 flex-shrink-0"
                             xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 20 20"
                             fill="currentColor"
                             aria-hidden="true">
                          <path fill-rule="evenodd"
                                d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                                clip-rule="evenodd" />
                        </svg>

                        <!-- Heroicon name: mini/star -->
                        <svg class="text-gray-200 h-5 w-5 flex-shrink-0"
                             xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 20 20"
                             fill="currentColor"
                             aria-hidden="true">
                          <path fill-rule="evenodd"
                                d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                                clip-rule="evenodd" />
                        </svg>

                        <!-- Heroicon name: mini/star -->
                        <svg class="text-gray-200 h-5 w-5 flex-shrink-0"
                             xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 20 20"
                             fill="currentColor"
                             aria-hidden="true">
                          <path fill-rule="evenodd"
                                d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                                clip-rule="evenodd" />
                        </svg>

                        <!-- Heroicon name: mini/star -->
                        <svg class="text-gray-200 h-5 w-5 flex-shrink-0"
                             xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 20 20"
                             fill="currentColor"
                             aria-hidden="true">
                          <path fill-rule="evenodd"
                                d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                                clip-rule="evenodd" />
                        </svg>

                        <!-- Heroicon name: mini/star -->
                        <svg class="text-gray-200 h-5 w-5 flex-shrink-0"
                             xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 20 20"
                             fill="currentColor"
                             aria-hidden="true">
                          <path fill-rule="evenodd"
                                d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                                clip-rule="evenodd" />
                        </svg>
                      </div>
                    </div>
                    <ng-template #hasRating>
                      <div *ngFor="let rating of [].constructor(avgRating); let i = index">
                        <svg class="text-yellow-400 h-5 w-5 flex-shrink-0"
                             xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 20 20"
                             fill="currentColor"
                             aria-hidden="true">
                          <path fill-rule="evenodd"
                                d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401z"
                                clip-rule="evenodd" />
                        </svg>
                      </div>
                    </ng-template>
                    <div aria-hidden="true"
                         class="ml-4 text-sm text-gray-300">·</div>
                    <div class="ml-4 flex">
                      <a href="#"
                         class="text-sm font-medium text-emerald-600 hover:text-emerald-500">See all reviews</a>
                    </div>
                  </div>
                </dl>
              </div>
              <div class="mt-4 mb-4 relative">
                <div class="absolute inset-0 flex items-center"
                     aria-hidden="true">
                  <div class="w-full border-t border-gray-300"></div>
                </div>
                <div class="relative flex justify-center">
                  <span class="px-3 bg-white text-sm text-gray-500">
                    Facilities
                  </span>
                </div>
              </div>
              <div class="flex flex-wrap w-full pl-8">
                <div class="mr-3 item-facilities mb-2"
                     *ngIf="propertyData.facilities.service.length > 0">
                  <label class="font-medium text-gray-900 mb-3 text-base">
                    <i class="fa-sharp fa-solid fa-bell-concierge text-emerald-600 text-[20px] mr-2"></i>Services</label>
                  <ng-container *ngFor="let item of propertyData.facilities.service">
                    <div class="flex align-center flex-column">
                      <dt class="mb-3">{{item}}</dt>
                    </div>
                  </ng-container>
                </div>
                <div class="mr-3 item-facilities mb-2"
                     *ngIf="!!propertyData.facilities.facilities">
                  <label class="font-medium text-gray-900 mb-3 text-base">
                    <i class="fa-solid fa-hotel text-emerald-600 text-[20px] mr-2"></i>Facilities</label>
                  <ng-container *ngFor="let item of propertyData.facilities.facilities">
                    <div class="flex align-center flex-column">
                      <dt class="mb-3">{{item}}</dt>
                    </div>
                  </ng-container>
                </div>
                <div class="mr-3 item-facilities mb-2"
                     *ngIf="!!propertyData.facilities.common">
                  <label class="font-medium text-gray-900 mb-3 text-base">
                    <i class="fa-solid fa-bags-shopping text-emerald-600 text-[20px] mr-2"></i>Common</label>
                  <ng-container *ngFor="let item of propertyData.facilities.common">
                    <div class="flex align-center flex-column">
                      <dt class="mb-3">{{item}}</dt>
                    </div>
                  </ng-container>
                </div>
                <div class="mr-3 item-facilities mb-2"
                     *ngIf="!!propertyData.facilities.connectivity">
                  <label class="font-medium text-gray-900 mb-3 text-base">
                    <i class="fa-sharp fa-solid fa-wifi text-emerald-600 text-[20px] mr-2"></i>Connectivity</label>
                  <ng-container *ngFor="let item of propertyData.facilities.connectivity">
                    <div class="flex align-center flex-column">
                      <dt class="mb-3">{{item}}</dt>
                    </div>
                  </ng-container>
                </div>
                <div class="mr-3 item-facilities mb-2"
                     *ngIf="!!propertyData.facilities.inside_room">
                  <label class="font-medium text-gray-900 mb-3 text-base">
                    <i class="fa-solid fa-booth-curtain text-emerald-600 text-[20px] mr-2"></i>Inside room</label>
                  <ng-container *ngFor="let item of propertyData.facilities.inside_room">
                    <div class="flex align-center flex-column">
                      <dt class="mb-3">{{item}}</dt>
                    </div>
                  </ng-container>
                </div>
                <div class="mr-3 item-facilities mb-2"
                     *ngIf="!!propertyData.facilities.business">
                  <label class="font-medium text-gray-900 mb-3 text-base">
                    <i class="fa-solid fa-business-time text-emerald-600 text-[20px] mr-2"></i>Business</label>
                  <ng-container *ngFor="let item of propertyData.facilities.business">
                    <div class="flex align-center flex-column">
                      <dt class="mb-3">{{item}}</dt>
                    </div>
                  </ng-container>
                </div>
                <div class="mr-3 item-facilities mb-2"
                     *ngIf="!!propertyData.facilities.nearby_amenities">
                  <label class="font-medium text-gray-900 mb-3 text-base">
                    <i class="fa-solid fa-bed-empty text-emerald-600 text-[20px] mr-2"></i>Nearby amenities</label>
                  <ng-container *ngFor="let item of propertyData.facilities.nearby_amenities">
                    <div class="flex align-center flex-column">
                      <dt class="mb-3">{{item}}</dt>
                    </div>
                  </ng-container>
                </div>
                <div class="mr-3 item-facilities mb-2"
                     *ngIf="!!propertyData.facilities.accessibility">
                  <label class="font-medium text-gray-900 mb-3 text-base">
                    <i class="fa-brands fa-accessible-icon text-emerald-600 text-[20px] mr-2"></i>Accessibility</label>
                  <ng-container *ngFor="let item of propertyData.facilities.accessibility">
                    <div class="flex align-center flex-column">
                      <dt class="mb-3">{{item}}</dt>
                    </div>
                  </ng-container>
                </div>
                <div class="mr-3 item-facilities mb-2"
                     *ngIf="!!propertyData.facilities.food_drinks">
                  <label class="font-medium text-gray-900 mb-3 text-base">
                    <i class="fa-solid fa-burger-soda text-emerald-600 text-[20px] mr-2"></i>Food & drinks</label>
                  <ng-container *ngFor="let item of propertyData.facilities.food_drinks">
                    <div class="flex align-center flex-column">
                      <dt class="mb-3">{{item}}</dt>
                    </div>
                  </ng-container>
                </div>
                <div class="mr-3 item-facilities mb-2"
                     *ngIf="!!propertyData.facilities.transportation">
                  <label class="font-medium text-gray-900 mb-3 text-base">
                    <i class="fa-solid fa-car-building text-emerald-600 text-[20px] mr-2"></i>Transportation</label>
                  <ng-container *ngFor="let item of propertyData.facilities.transportation">
                    <div class="flex align-center flex-column">
                      <dt class="mb-3">{{item}}</dt>
                    </div>
                  </ng-container>
                </div>
                <div class="mr-3 item-facilities mb-2"
                     *ngIf="!!propertyData.facilities.sport_recreations">
                  <label class="font-medium text-gray-900 mb-3 text-base">
                    <i class="fa-solid fa-water-ladder text-emerald-600 text-[20px] mr-2"></i>Sport recreations</label>
                  <ng-container *ngFor="let item of propertyData.facilities.sport_recreations">
                    <div class="flex align-center flex-column">
                      <dt class="mb-3">{{item}}</dt>
                    </div>
                  </ng-container>
                </div>
                <div class="mr-3 item-facilities mb-2"
                     *ngIf="!!propertyData.facilities.things_to_do">
                  <label class="font-medium text-gray-900 mb-3 text-base">
                    <i class="fa-solid fa-circle-info text-emerald-600 text-[20px] mr-2"></i>Things to do</label>
                  <ng-container *ngFor="let item of propertyData.facilities.things_to_do">
                    <div class="flex align-center flex-column">
                      <dt class="mb-3">{{item}}</dt>
                    </div>
                  </ng-container>
                </div>
                <div class="mr-3 item-facilities mb-2"
                     *ngIf="!!propertyData.facilities.traveling_w_others">
                  <label class="font-medium text-gray-900 mb-3 text-base">
                    <i class="fa-solid fa-route text-emerald-600 text-[20px] mr-2"></i>Traveling & others</label>
                  <ng-container *ngFor="let item of propertyData.facilities.traveling_w_others">
                    <div class="flex align-center flex-column">
                      <dt class="mb-3">{{item}}</dt>
                    </div>
                  </ng-container>
                </div>
              </div>

            </div>


          </div>

          <div class="mt-4 mb-4 relative">
            <div class="absolute inset-0 flex items-center"
                 aria-hidden="true">
              <div class="w-full border-t border-gray-300"></div>
            </div>
            <div class="relative flex justify-center">
              <span class="px-3 bg-white text-sm text-gray-500">
                Room Type
              </span>
            </div>
          </div>
          <ng-container *ngFor="let roomType of propertyData.roomTypes">
            <dl class="grid grid-cols-2 gap-x-6 text-sm pb-4">
              <div>
                <dt class="font-medium text-gray-900">{{roomType.name}}</dt>
                <dd class="mt-2 text-gray-700">
                  <address class="not-italic">
                    <span class="block">Size: {{roomType.size.width}} x {{roomType.size.length}}</span>
                    <span class="block">Bed Type: {{roomType.bedType}}</span>
                    <span class="block">Max Guests: {{roomType.maxGuests}}</span>
                  </address>

                  <div class="mt-4 mb-4 relative">
                    <div class="relative">
                      <span class="bg-white text-sm text-gray-500 font-bold">
                        Price: {{roomType.price | currency: 'VND': 'symbol-narrow'}}
                      </span>
                    </div>
                  </div>
                </dd>
              </div>
              <dd class="mt-2 text-gray-700 flex justify-end">
                <img [src]="roomType.photos[0]"
                     alt="Glass bottle with black plastic pour top and mesh insert."
                     class="align-center h-20 w-20 flex-none rounded-lg bg-gray-100 object-cover object-center sm:h-40 sm:w-40">
              </dd>
            </dl>
          </ng-container>
        </section>
        <div class="pt-5">
          <div class="flex justify-end">
            <div class="flex ">
              <button type="button"
                      mat-dialog-close="false"
                      class="bg-white-500 border text-black active:bg-secondary text-sm font-bold px-6 py-2 rounded hover:bg-slate-50 outline-none focus:outline-none mr-2 mb-1 ease-linear transition-all duration-150">Cancel</button>

              <ng-container *ngIf="!propertyData.isVerified; else notVerified">
                <button type="button"
                        (click)="updateVerifiedStatus()"
                        class="bg-emerald-600 text-white active:bg-secondary text-sm font-bold px-6 py-2 rounded hover:bg-emerald-700 outline-none focus:outline-none mb-1 ease-linear transition-all duration-150">Verify</button>
              </ng-container>
              <ng-template #notVerified>
                <button type="button"
                        (click)="updateVerifiedStatus()"
                        class="bg-red-600 text-white active:bg-secondary text-sm font-bold px-6 py-2 rounded hover:bg-red-700 outline-none focus:outline-none mb-1 ease-linear transition-all duration-150">UnVerify</button>
              </ng-template>
            </div>
          </div>

        </div>
      </div>
    </main>
  </ng-template>
</mp-model-layout>
